<%- include('partials/header') %>

      <!-- Carousel -->
      <div id="ruleDisplay">Todays Rule</div>

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="LOGO.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="API.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div id="howto" class="heading-p">
        <h1>How to use the api?</h1>
<pre>
const URL = "http://sigmarule.herokuapp.com/sigmarule";
const URL2 = "http://sigmarule.herokuapp.com/sigmarule/random";

const getPosts = async () => {

    const response = await fetch(URL);
    if (!response.ok) {
        throw new Error("Error in fetching JSON data, Contact subhranshuchoudhury");
    }
    const data = await response.json(); // it will wait to resolve.
    return data;

}

getPosts()
    .then(mydata => {
        console.log(mydata);
    })
    .catch(error => {
        alert(error);

    });
</pre>
      </div>

      <div class="heading-p">
        <h1>Endpoints</h1>
        <a class="apiAnchor" href="sigmarule">All Sigma Rules</a><br>
        <a class="apiAnchor" href="sigmarule/random">Random Sigma Rule</a>
      </div>
      <script src="script.js"></script>
      
<%- include('partials/footer') %>
