body{
    background-color: #efef;
}

.carousel-inner{
    width: 50%;
    margin: 0px auto;
}

.heading-p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

pre{
    padding: 10px;
    margin: 30px;
    border: 2px solid black;
    font-weight: bold;
}

p{
    text-align: center;
}
.apiAnchor{
    text-decoration: none;
    color: green;
    font-size: large;
    font-weight: bold;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
}

#ruleDisplay{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    margin: 0px;
    color: yellow;
    background-color: black;
}
